@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/manrope";
@import "@fontsource-variable/roboto-slab";

@custom-variant dark (&:is(.dark *));

.dark {
  --background: oklch(0.9579 0.0198 103.6690);
  --foreground: oklch(0.4064 0.0366 41.4836);
  --card: oklch(0.9579 0.0198 103.6690);
  --card-foreground: oklch(0.4064 0.0366 41.4836);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4064 0.0366 41.4836);
  --primary: oklch(0.6113 0.0881 44.2102);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7568 0.0535 80.3823);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.8505 0.0550 48.6441);
  --muted-foreground: oklch(0.5414 0.0728 37.8465);
  --accent: oklch(0.8505 0.0550 48.6441);
  --accent-foreground: oklch(0.4064 0.0366 41.4836);
  --destructive: oklch(0.2244 0.0146 57.4325);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.7568 0.0535 80.3823);
  --input: oklch(0.7568 0.0535 80.3823);
  --ring: oklch(0.6113 0.0881 44.2102);
  --chart-1: oklch(0.6113 0.0881 44.2102);
  --chart-2: oklch(0.5414 0.0728 37.8465);
  --chart-3: oklch(0.7311 0.0758 51.9767);
  --chart-4: oklch(0.7568 0.0535 80.3823);
  --chart-5: oklch(0.6470 0.0574 52.5942);
  --sidebar: oklch(0.8901 0.0384 49.1149);
  --sidebar-foreground: oklch(0.4064 0.0366 41.4836);
  --sidebar-primary: oklch(0.6113 0.0881 44.2102);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7311 0.0758 51.9767);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.6470 0.0574 52.5942);
  --sidebar-ring: oklch(0.6113 0.0881 44.2102);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 1.5px;
  --shadow-opacity: 0.2;
  --shadow-color: #a27863;
  --shadow-2xs: 2px 2px 0px 1.5px hsl(20 25.3012% 51.1765% / 0.10);
  --shadow-xs: 2px 2px 0px 1.5px hsl(20 25.3012% 51.1765% / 0.10);
  --shadow-sm: 2px 2px 0px 1.5px hsl(20 25.3012% 51.1765% / 0.20), 2px 1px 2px 0.5px hsl(20 25.3012% 51.1765% / 0.20);
  --shadow: 2px 2px 0px 1.5px hsl(20 25.3012% 51.1765% / 0.20), 2px 1px 2px 0.5px hsl(20 25.3012% 51.1765% / 0.20);
  --shadow-md: 2px 2px 0px 1.5px hsl(20 25.3012% 51.1765% / 0.20), 2px 2px 4px 0.5px hsl(20 25.3012% 51.1765% / 0.20);
  --shadow-lg: 2px 2px 0px 1.5px hsl(20 25.3012% 51.1765% / 0.20), 2px 4px 6px 0.5px hsl(20 25.3012% 51.1765% / 0.20);
  --shadow-xl: 2px 2px 0px 1.5px hsl(20 25.3012% 51.1765% / 0.20), 2px 8px 10px 0.5px hsl(20 25.3012% 51.1765% / 0.20);
  --shadow-2xl: 2px 2px 0px 1.5px hsl(20 25.3012% 51.1765% / 0.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

:root {
  --background: oklch(0.2715 0.0191 45.7386);
  --foreground: oklch(0.9579 0.0198 103.6690);
  --card: oklch(0.3292 0.0224 49.8558);
  --card-foreground: oklch(0.9579 0.0198 103.6690);
  --popover: oklch(0.3292 0.0224 49.8558);
  --popover-foreground: oklch(0.9579 0.0198 103.6690);
  --primary: oklch(0.7311 0.0758 51.9767);
  --primary-foreground: oklch(0.2715 0.0191 45.7386);
  --secondary: oklch(0.5414 0.0728 37.8465);
  --secondary-foreground: oklch(0.9579 0.0198 103.6690);
  --muted: oklch(0.4064 0.0366 41.4836);
  --muted-foreground: oklch(0.7593 0.0526 51.1856);
  --accent: oklch(0.7568 0.0535 80.3823);
  --accent-foreground: oklch(0.2715 0.0191 45.7386);
  --destructive: oklch(0.6863 0.1956 23.8198);
  --destructive-foreground: oklch(0.2715 0.0191 45.7386);
  --border: oklch(0.4064 0.0366 41.4836);
  --input: oklch(0.4064 0.0366 41.4836);
  --ring: oklch(0.7311 0.0758 51.9767);
  --chart-1: oklch(0.7311 0.0758 51.9767);
  --chart-2: oklch(0.7568 0.0535 80.3823);
  --chart-3: oklch(0.6113 0.0881 44.2102);
  --chart-4: oklch(0.5414 0.0728 37.8465);
  --chart-5: oklch(0.6470 0.0574 52.5942);
  --sidebar: oklch(0.2244 0.0146 57.4325);
  --sidebar-foreground: oklch(0.9579 0.0198 103.6690);
  --sidebar-primary: oklch(0.7311 0.0758 51.9767);
  --sidebar-primary-foreground: oklch(0.2244 0.0146 57.4325);
  --sidebar-accent: oklch(0.7568 0.0535 80.3823);
  --sidebar-accent-foreground: oklch(0.2244 0.0146 57.4325);
  --sidebar-border: oklch(0.4064 0.0366 41.4836);
  --sidebar-ring: oklch(0.7311 0.0758 51.9767);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 1.5px;
  --shadow-opacity: 0.2;
  --shadow-color: #604639;
  --shadow-2xs: 2px 2px 0px 1.5px hsl(20.0000 25.4902% 30% / 0.10);
  --shadow-xs: 2px 2px 0px 1.5px hsl(20.0000 25.4902% 30% / 0.10);
  --shadow-sm: 2px 2px 0px 1.5px hsl(20.0000 25.4902% 30% / 0.20), 2px 1px 2px 0.5px hsl(20.0000 25.4902% 30% / 0.20);
  --shadow: 2px 2px 0px 1.5px hsl(20.0000 25.4902% 30% / 0.20), 2px 1px 2px 0.5px hsl(20.0000 25.4902% 30% / 0.20);
  --shadow-md: 2px 2px 0px 1.5px hsl(20.0000 25.4902% 30% / 0.20), 2px 2px 4px 0.5px hsl(20.0000 25.4902% 30% / 0.20);
  --shadow-lg: 2px 2px 0px 1.5px hsl(20.0000 25.4902% 30% / 0.20), 2px 4px 6px 0.5px hsl(20.0000 25.4902% 30% / 0.20);
  --shadow-xl: 2px 2px 0px 1.5px hsl(20.0000 25.4902% 30% / 0.20), 2px 8px 10px 0.5px hsl(20.0000 25.4902% 30% / 0.20);
  --shadow-2xl: 2px 2px 0px 1.5px hsl(20.0000 25.4902% 30% / 0.50);
}

@theme inline {
    --font-sans: 'Manrope Variable', sans-serif;
    --font-heading: 'Roboto Slab Variable', serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
  button {
    cursor: pointer;
  }
  .heading-xl {
    font-family: var(--font-sans);
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.025em;
    text-wrap: pretty;
  }
  .heading-lg {
    font-family: var(--font-sans);
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.025em;
    text-wrap: pretty;
  }
  .heading-md {
    font-family: var(--font-sans);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    text-wrap: pretty;
  }
  .heading-sm {
    font-family: var(--font-sans);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    text-wrap: pretty;
  }
  .container-padding-x {
    padding-inline: 1.5rem;
  }
  .section-padding-y {
    padding-block: 6rem;
  }
  .section-title-gap-xl {
    gap: 1.5rem;
  }
  .section-title-gap-lg {
    gap: 1.25rem;
  }
  .section-title-gap-md {
    gap: 1.25rem;
  }
  .section-title-gap-sm {
    gap: 1rem;
  }
}

@media (max-width: 40rem) {
  .heading-xl {
    font-size: 3rem;
  }
  .heading-lg {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .heading-md {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .heading-sm {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .container-padding-x {
    padding-inline: 1rem;
  }
  .section-padding-y {
    padding-block: 4rem;
  }
  .section-title-gap-xl {
    gap: 1.25rem;
  }
  .section-title-gap-lg {
    gap: 1rem;
  }
  .section-title-gap-md {
    gap: 1rem;
  }
  .section-title-gap-sm {
    gap: 1rem;
  }
}